body {
    
}

.container{
    margin-top:250px;
    padding-left:390px;
}

.ajuste {
    margin-bottom: 15px;
    text-align:left;
}

.btn{
    margin-left:180px;
    width:40%;
}

.form-control{
    text-align:center;
}