body {
}

.ajuste {
    margin-bottom: 15px;
    text-align: left;
    float:left;
}

.container {
    margin-top: 150px;
}

.saudacao{
    margin-top:50px;
    text-align:left;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}

